@mixin bottomPage {
    .footer__container {
        list-style: none;
        display: flex;

        li {
            margin: 0 50px;

            a {
                text-decoration: none;
                color: $white;

                &:hover {
                    color: $colorFtr;
                }

                i {
                    font-size: 1.5rem;
                    transition: color .4s ease;
                }
            }
        }
    }

    .footer__title {
        display: flex;

        h5 {
            color: $colorFtr;
            padding-top: 15px;
            font: {
                size: 1.2rem;
                family: "Josefin Sans";
                weight: lighter;
            }
        }
    }
}

.footer-home {
    @include bottomPage;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-dark{
    @include bottomPage;
    background-color: $black;
}