<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="../assets/img/faviconCamera.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../sass/main.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/614ec76b61.js" crossorigin="anonymous"></script>
  <meta name="keywords" content="photo, photographer, photography, images, landscapes, pets, visual, artistic">
  <meta name="description" content="We create photographs that not only capture a moment, but also capture a feeling and essence.">
  <title>Timeless Photography | Landscapes</title>
</head>

<body>
  <div class="grid-container">
    <header>
      <nav class="blackNav container-fluid">
        <ul class="menu_horizontal">
          <li><a href="../index.html">Home</a></li>
          <li><a href="./gallery.html">Gallery</a>
          </li>
          <li><a href="./about.html">About us</a></li>
          <li><a href="./contact.html">Contact</a></li>
        </ul>
      </nav>
 
    </header>
    <main>
      <div class="photo-container">
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes1.jpg" alt="photo 1"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes2.jpg" alt="photo 2"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes3.jpg" alt="photo 3"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes4.jpg" alt="photo 4"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes5.jpg" alt="photo 5"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes6.jpg" alt="photo 6"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes7.jpg" alt="photo 7"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes8.jpg" alt="photo 8"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes9.jpg" alt="photo 9"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes10.jpg" alt="photo 10"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes11.jpg" alt="photo 11"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes12.jpg" alt="photo 12"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes13.jpg" alt="photo 13"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes14.jpg" alt="photo 14"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes15.jpg" alt="photo 15"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes16.jpg" alt="photo 16"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes17.jpg" alt="photo 17"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes18.jpg" alt="photo 18"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes19.jpg" alt="photo 19"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes20.jpg" alt="photo 20"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes21.jpg" alt="photo 21"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes22.jpg" alt="photo 22"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes23.jpg" alt="photo 23"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes24.jpg" alt="photo 24"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes25.jpg" alt="photo 25"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes26.jpg" alt="photo 26"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes27.jpg" alt="photo 27"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes28.jpg" alt="photo 28"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes29.jpg" alt="photo 29"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes30.jpg" alt="photo 30"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes31.jpg" alt="photo 31"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes32.jpg" alt="photo 32"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes33.jpg" alt="photo 33"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes34.jpg" alt="photo 34"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes35.jpg" alt="photo 35"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes36.jpg" alt="photo 36"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes37.jpg" alt="photo 37"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes38.jpg" alt="photo 38"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes39.jpg" alt="photo 39"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes40.jpg" alt="photo 40"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes41.jpg" alt="photo 41"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes42.jpg" alt="photo 42"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes43.jpg" alt="photo 43"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes44.jpg" alt="photo 44"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes45.jpg" alt="photo 45"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes46.jpg" alt="photo 46"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes47.jpg" alt="photo 47"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes48.jpg" alt="photo 48"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes49.jpg" alt="photo 49"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes50.jpg" alt="photo 50"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes51.jpg" alt="photo 51"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes52.jpg" alt="photo 52"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes53.jpg" alt="photo 53"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes54.jpg" alt="photo 54"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes55.jpg" alt="photo 55"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes57.jpg" alt="photo 57"></div>
        <div class="photo-item"><img src="../assets/img/landscapes/galleryLandscapes58.jpg" alt="photo 58"></div>
      </div>
    </main>
    <footer class="footer-gallery container-fluid">
      <div class="footer__container">
        <li><a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
        <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a
            href="https://accounts.google.com/ServiceLogin/signinchooser?hl=es-419&passive=true&continue=https%3A%2F%2Fwww.google.com%2Fsearch%3Fq%3Dgmail%26oq%3Dgmail%26aqs%3Dchrome..69i57j0i433i512l4j0i512j69i61l2.1672j0j4%26sourceid%3Dchrome%26ie%3DUTF-8&ec=GAZAAQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
            target="_blank"><i class="fa-regular fa-envelope"></i></a></li>
      </div>
      <div class="footer_title">
        <h5>&copy; Carolina Avdeichuk 2022</h5>
      </div>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>